.hero {
    position: relative;
    height: 250px;
    background: url("../../assets/header.jpg") center/cover;
    background-position: 60% 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.heroText h1 {
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.introSection {
    display: flex;
    align-items: center;
    padding: 4rem 10%;
    gap: 4rem;
    height: 650px;
}

.introText {
    flex: 1;
}

.brandTitle {
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.introText p {
    line-height: 1.6;
    color: #666;
}

.introImage {
    flex: 1;
}

.introImage img {
    width: 100%;
    border-radius: 12px;
}

.cardsSection {
    background-color: var(--primary-color);
    padding: 4rem 10%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 2rem;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconWrapper {
    margin-bottom: 1rem;
}

.circleIcon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.circleIcon span {
    font-size: 0.8rem;
}

.card h3 {
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.card p {
    color: #666;
    font-size: 0.9rem;
    line-height: 1.5;
}