.container {
    width: 100%;
}

.pageHeader {
    position: relative;
    height: 250px;
    background: url('../../assets/header.jpg') center/cover;
    background-position: 60% 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.pageHeader h1 {
    color: white;
    font-size: 64px;
    font-weight: 700px;
}

.pageHeader ::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.4);
}

.content {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 20px;
}

.title {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 2rem;
    line-height: 100%;
}

.title span {
    color: var(--primary-color);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.row {
    display: flex;
    gap: 2rem;
}

.group,
.groupFull {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.group label {
    font-weight: 500;
}

.optional {
    color: #999;
    font-weight: normal;
}

.group input,
.group select,
.group textarea,
.groupFull input {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    font-size: 1rem;
}

.divider {
    height: 1px;
    background-color: #eee;
    margin: 1rem 0;

}

.centerAction {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.confirmBtn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 1rem 4rem;
    font-size: 1.1rem;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;

    &:disabled {
        opacity: 0.5;
    }
}