.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  transition: 0.5s ease;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1000;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: var(--text-color);
}

.transparent {
  background-color: transparent;
  box-shadow: none;

  & .link {
    color: white;
  }

  & .link.active {
    color: var(--primary-color);
  }
}

.scrolled {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.nav {
  display: flex;
  gap: 41px;
}

.header .logo img {
  width: 100px;

}

.link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 19px;
}

.link:hover,
.active {
  color: var(--primary-color);
}

.searchBtn {
  background: var(--primary-color);
  color: white;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.actions {
  display: flex;
  gap: 10px;
  align-items: center;
}


.transparent .user {
  color: white;
}

.scrolled .user {
  color: var(--text-color);
}