.footer {
    background-color: var(--dark-bg);
    color: white;
    padding: 3rem 5% 1rem;
    margin-top: auto;
}

.content {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
    gap: 330px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 2rem;
}

.content img {
    width: 200px;
    margin-top: -33px;
}

.column h3 {
    font-size: 18px;
    margin-bottom: 16px;
    font-weight: 650;
}

.column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.column ul li {
    margin-bottom: 8px;
    color: #aaa;
    font-size: 14px;
    cursor: pointer;
}

.socialRow {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
}

.appButtons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.storeBtn {
    background: transparent;
    border: 1px solid #aaa;
    border-radius: 6px;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-align: center;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.copyright {
    text-align: center;
    margin-top: 1rem;
    color: #666;
    font-size: 0.8rem;
}